/* estilo portfólio */
.portfolio {
  background-color: #0b2027;
  color: #fff;
}
.portfolio .title::after {
  background-color: #0b2027;
  content: "alguns trabalhos";
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #90be78 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #90be78 !important;
}
